<p id="notice"><%= notice %></p>
<%= search_form_for @q do |f| %>
      <%= sort_link(@q, :created_at, 'Date of Creation', default_order: :desc) %>
      <%= sort_link(@q, :unit_price, 'Unit Price', default_order: :desc) %>
  <%= f.label :title %>
  <%= f.search_field :name_cont, placeholder: "Name of the equipment" %>
  <%= f.submit "search" %>
<% end %>

<%= column_chart Task.pluck(:name,:unit_price)%>

<h1>Equipments</h1>

<table>
  <thead>
    <tr>
      <th>Equipment Name</th>
      <th>Quantity</th>
        <th>Unit Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.quantity%></td>
        <td><%= task.unit_price%></td>
              <td>
        <button type="button" class="btn btn-warning btn-xs"><%= link_to 'Show', task %></button>
        <button type="button" class="btn btn-primary btn-xs"><%= link_to 'Edit', edit_task_path(task) %></button>
        <button type="button" class="btn btn-warning btn-xs"><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></button>
      </tr>
    <% end %>
  </tbody>
</table>
<button type="button" class="btn btn-success btn-xs"><%= link_to "New Task", new_task_path %></button>
<br>
  <%= paginate @tasks %>
