<center>
<p id="notice"><%= notice %></p>
<p>
  <strong>Image:</strong>
  <% if @task.image.url %>
  <%= image_tag @task.image.url %>
  <% end %>
</p>
<p>
<strong>Equipment Name:</strong>
<%= @task.name %>
</p>
<p>
<strong>Quantity:</strong>
<%= @task.quantity %>
</p>
<p>
<strong>Unit Price:</strong>
<%= @task.unit_price %>
</p>
<tr>
<td><button type="button" class="btn btn-primary btn-xs"><%= link_to 'Edit',
edit_task_path(@task) %></button></td>
<td><button type="button" class="btn btn-warning btn-xs"><%= link_to 'Back',
edit_task_path(@task) %></button></td>
</tr>
<button type="button" class="btn btn-success btn-xs"><%= link_to "Add
Comment", new_task_comment_path(@task) %></button>
</center>
<div class="notes-container">
<p><%= @comments.length <= 0 ? "No Comments found": ""%></p>
<% @comments.each do |comment| %>
<p class="message-body"><%= comment.message %></p>
<strong>From <%= comment.user.name %></strong>
<br />
<%= comment.created_at.strftime("%b %d, %Y") %>
<button type="button" class="btn btn-warning btn-xs"><%= link_to 'Edit',
edit_task_comment_path(comment.task_id, comment) %></button>
<button type="button" class="btn btn-danger btn-xs"><%= link_to 'Destroy',
task_comment_path(comment.task, comment), method: :delete, data: { confirm: 'Are you
sure?' } %></button>
</div>
<% end %>
