<p id="notice"><%= notice %></p>

<p>
  <strong>Equipment Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @task.quantity %>
</p>

<p>
  <strong>Unit Price:</strong>
  <%= @task.unit_price %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
