<h1 class = "center"><%=@user.name %>'s page</h1>
<div class ="col-md-6">
<table class="user_show_table clearfix">
<thead>
<tr>
<th>ID</th>
<td><%= @user.id %></td>
</tr>
<tr>
<th>Username</th>
<td><%= @user.name%></td>
</tr>
<tr>
<th>Email</th>
<td><%= @user.email %></td>
</tr>
<tr>
<th>Phone Number</th>
<td><%= @user.phone_number %></td>
</tr>
<tr>
<th>Number of Equipments</th>
<td><%= @user.tasks.count %></td>
</tr>
<tr>
<th>User admin priviledges</th>
<td><%= @user.admin? ? "Yes":"No" %></td>
</tr>
<tr>
<th>Role</th>
<td><%= @user.user_role %></td>
</tr>

<tr>
<th> <%= link_to 'Return', admin_users_path %></th>
</tr>
</thead>
</table>
</div>
<hr>
<div class ="text-right">
<table class="table table-striped">
<thead>
<tr>
<th>Equipment Name</th>
<th>Quantity</th>
<th>Unit Price</th>
</tr>
</thead>
<tbody>
<% @tasks.each do |task| %>
<tr>
<td><%= task.name %></td>
<td><%= task.quantity %></td>
<td><%= task.unit_price%></td>
</tr>
<% end %>
</tbody>
</table>
</div>
